body {
    background: #1B244A; 
}

body h1 {
    font-size: 40px;
    color: #EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    display: flex;
    justify-content: space-evenly;
}

.item {
    text-align: center;
    padding: 40px;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #080001;
    width: 155px;
    height: 120px;
    border-radius: 5px;
}

.score h2 {
    font-size: 80px;
    text-align: center;
    color: #F94F6D;
    width: 118px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin-bottom: 52px;                                             
}

.btn-div{
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
}

button {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color: #9AABD8;
    font-size: 16px;
    font-family: 'Cursed Timer ULiL', sans-serif;
}